img {
  float: right;
  width: 45%;
  
}
body {
  background-color: mistyrose;
}

.jumbotron{
  background-color: palevioletred;
  font-family: fantasy;
}

.important {
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  font-style: oblique;
}
h2 {
  padding: ;

}